Form {
    padding-bottom: 30px;
    width: 75%;
}

.search-and-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
}

.toast {
    position: absolute;
    min-height: 100px;
    top: 0;
    right: 0;
}

.warning {
    margin-right: auto;
}